.code-cell {
  display: flex;
  height: 100%;
  border: 1px solid var(--main-border-color);
  border-radius: var(--main-border-radius);
  overflow: hidden;
}

div.code-cell:focus-within {
  border: 1px solid var(--border-color--on-focus);
}
