.code-cell {
  display: flex;
  height: 100%;
  overflow: hidden;
  border: 1px solid var(--main-border-color);
  border-radius: var(--main-border-radius);
}

div.code-cell:focus-within {
  border: 1px solid var(--border-color--on-focus);
}

.preview-wrapper {
  flex: 1;
  background-color: var(--preview-background-color);
}
