.iframe {
  height: 100%;
  width: 100%;
  border: none;
  position: relative;
  z-index: 100;
  background-color: var(--main-background-color--light);
}

.bundling-error {
  position: absolute;
  top: 0;
  margin: 1rem;
}
