.text-cell {
  overflow: hidden;
  border: 1px solid var(--main-border-color);
  border-radius: var(--main-border-radius);
}

.text-cell:focus-within {
  border: 1px solid var(--border-color--on-focus);
}
