.text-editor {
  border: 1px solid var(--main-border-color);
  border-radius: var(--main-border-radius);
  overflow: hidden;
}

.text-editor:focus-within {
  border: 1px solid var(--border-color--on-focus);
}
