.load-documents {
  position: absolute;
  top: 15vh;
  left: 15vw;
  right: 15vw;
  z-index: 400;
  height: 50vh;
  min-width: 280px;
  border-radius: 10px;
  overflow: hidden;
  background-color: ivory;
}

.header {
  text-align: center;
  font-size: 1.25rem;
  padding: 1.5rem 1.25rem 1.25rem;
  margin: 0;
  color: #111820;
}

.load-documents hr {
  margin: 0 auto;
  width: 90%;
}

.documents {
  width: 100%;
  height: calc(100% - 68.5px);
}

.document-list {
  width: 100%;
  height: 100%;
  padding: calc(1rem + 1.25vw);
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-gap: 1rem;
  height: 100%;
  overflow: auto;
}

.document {
  width: 100%;
  height: 50px;
  grid-column: span 1;
  grid-row: span 1;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.title {
  color: #111820;
}

.time {
  font-size: 0.75rem;
  color: rgb(255, 85, 156);
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}

@media screen and (min-width: 800px) {
  .load-documents {
    left: 20vw;
    right: 20vw;
  }
}

@media screen and (min-width: 1000px) {
  .document-list {
    grid-template-columns: 1fr 1fr;
  }
}
