.page-title {
  width: 100%;
}

.title-input {
  background-color: var(--main-background-color);
  border-radius: var(--main-border-radius);
  border: 1px solid var(--main-border-color);
  width: 100%;
  padding: 1rem;
  font-size: 16px;
  color: var(--preview-background-color);
  outline: none;
}

.title-input:focus {
  background-color: var(--main-editor-background-color);
  border: 1px solid var(--border-color--on-focus);
}
