.page-title {
  width: 100%;
  display: flex;
  flex-flow: column-reverse;
}

.title-input {
  width: 100%;
  padding: 1rem;
  font-size: 1.125rem;
  outline: none;
  background-color: var(--main-background-color--dark);
  border-radius: var(--main-border-radius);
  border: 1px solid var(--main-border-color);
  color: var(--main-background-color--light);
}

.label {
  position: absolute;
  width: fit-content;
  padding: 0 0.125rem;
  font-size: 0.75rem;
  color: var(--main-background-color--light);
  background-color: var(--main-background-color--dark);
}

.title-input,
.label {
  transition: all 200ms;
}

.title-input:focus {
  border: 1px solid var(--border-color--on-focus);
}

.title-input:placeholder-shown + .label {
  cursor: text;
  transform-origin: left bottom;
  transform: translate(0.875rem, -1rem) scale(1.75);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

.title-input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.title-input:not(:placeholder-shown) + .label,
.title-input:focus + .label {
  transform: translate(0.5rem, -3rem) scale(1);
  cursor: pointer;
}
