.sign-up-form {
  position: relative;
  margin: 0 auto;
  top: 15%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  width: 21rem;
}

.sign-up-form h2 {
  margin: 0 0 0.5rem;
  font-size: 1.125rem;
  color: #fcfcfc;
}

.name,
.email,
.password {
  position: relative;
  width: 95%;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.85rem;
  color: #777;
}

.input {
  width: 100%;
  font-size: 1.125rem;
  padding: 0.75rem 1rem 0.75rem 3.5rem;
  font-weight: 500;
  outline: none;
}

.input,
.label {
  transition: all 200ms;
}

.input:focus {
  border: 2px solid var(--border-color--on-focus);
}

.input:placeholder-shown + .label {
  cursor: text;
  transform-origin: left bottom;
}

.input:placeholder-shown + .label {
  transform: translate(3.5rem, 1.25rem) scale(1.25);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

.input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.input:not(:placeholder-shown) + .label,
.input:focus + .label {
  cursor: pointer;
  color: #fcfcfc;
}

.input:not(:placeholder-shown) + .label,
.input:focus + .label {
  transform: translate(0rem, -1.1rem) scale(1);
}

.icon {
  position: absolute;
  top: 0.9rem;
  left: 1.25rem;
}

.btn {
  display: inline-block;
  width: 95%;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 200ms;
  color: #fcfcfc;
  background-color: #0f87ff;
}

.btn:hover {
  background-color: #2b689b;
}

.btn:active {
  transform: scale(0.95);
}
