.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  z-index: 500;
  background-color: #0f87ff;
  background-image: linear-gradient(to top right, #0f87ff, #007acc);
}

.sliding-enter {
  transform: translateX(-100%);
}

.sliding-enter-active {
  transform: translateX(0);
  transition: all 200ms ease-out;
}

.sliding-exit {
  transform: translateX(0);
}

.sliding-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 200ms ease-out;
}
