.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 0.5rem calc(1rem + 1.5vw);
  z-index: 500;
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3dd1e7;
  background-image: linear-gradient(to top right, #3dd1e7, #0f87ff);
}

.logo {
  margin-right: auto;
  margin-left: 1.5rem;
}

.logo a {
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  color: var(--main-font-color--dark);
}

.sliding-enter {
  transform: translateX(-100%);
}

.sliding-enter-active {
  transform: translateX(0);
  transition: all 200ms ease-out;
}

.sliding-exit {
  transform: translateX(0);
}

.sliding-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 200ms ease-out;
}
