.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #525257;
  width: 100%;
  padding: 0.5rem;
}

.sliding-menu {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 500;
  width: 20vw;
}

.menu-contents {
  background-color: #fcfcfc;
  list-style: none;
  margin: 0;
  padding: 1.5rem 1rem;
  height: calc(100vh - 3rem);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
}

.menu-contents > li {
  width: 95%;
}

.menu-contents button {
  font-size: 0.85rem;
  width: 100%;
  padding: 0.5rem;
  background-color: #fcfcfc;
  border: 1px solid var(--main-border-color);
  border-radius: 10px;
  cursor: pointer;
}
