.menu-icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-icon > div {
  width: 90%;
  height: 3px;
  transition: 0.3s all;
  background-color: #fcfcfc;
}

.bar1.change {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.bar2.change {
  opacity: 0;
}

.bar3.change {
  transform: rotate(45deg) translate(-8px, -8px);
}
