.sliding-menu {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 20vw;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 1.5rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: calc(100vh - 3rem);
  max-width: 400px;
  min-width: 300px;
  background-color: var(--main-background-color--light);
  box-shadow: rgb(31, 193, 27) 0px 3px 0px 3px,
    rgb(255, 156, 85) 0px 5px 0px 5px, rgb(255, 85, 156) 0px 7px 0px 7px;
}

.list-item {
  width: 95%;
}

.link {
  display: block;
  text-align: center;
  font-size: 0.85rem;
  padding: 0.5rem;
  border-radius: 10px;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  color: var(--main-font-color--dark);
  background-color: var(--main-background-color--light);
  border: 1px solid var(--main-border-color);
}
