.menu-icon {
  width: 2.25rem;
  height: 2.25rem;
  /* border: 1px solid grey; */
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.menu-icon > div {
  background-color: grey;
  width: 90%;
  height: 3px;
  transition: 0.4s all;
}

.change.bar1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.change.bar2 {
  opacity: 0;
}

.change.bar3 {
  transform: rotate(405deg) translate(-8px, -8px);
}
