.nav {
  margin-right: 0.5rem;
  height: 2rem;
}

.nav ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item:active {
  transform: scale(0.95);
}

.log-in,
.log-out,
.sign-up {
  border: 1px solid #111820;
}

.nav-item a,
.log-out {
  padding: 0.5rem;
  letter-spacing: -0.5px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: #111820;
}

.log-out {
  background-color: transparent;
  font: inherit;
}

.nav-item a:hover,
.log-out:hover {
  color: #f2d200;
}

a.isActive {
  font-weight: 600;
  color: #f2d200;
}

.welcome-user {
  user-select: none;
  font-size: 0.875rem;
  color: #fcfcfc;
}
