.page-title {
  width: 100%;
}

.title-input {
  background-color: var(--main-background-color);
  border-radius: var(--main-border-radius);
  border: 1px solid var(--main-border-color);
  width: 100%;
  padding: 1rem;
  font-size: 16px;
  color: #fcfcfc;
}
