.preview-wrapper {
  position: relative;
  flex-grow: 1;
  height: 100%;
  pointer-events: none;
}

.preview-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.preview {
  height: 100%;
  width: 100%;
  background-color: #fff;
  border: none;
}
