/* global styles */

:root {
  --main-background-color: #252526;
  --body-background-color: #2b2b31;
  --main-editor-background-color: #1e1e1e;
  --preview-background-color: #fcfcfc;
  --resize-handle-color: #569cd6;
  --main-border-color: #4e5d6c;
  --border-color--on-focus: #b5cea8;
  --main-border-radius: 5px;
  --main-font-color: #111820;

  font-size: 16px;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body-background-color);
  min-width: 400px;
}

/* Override resizable styles */

.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  display: block;
  opacity: 0;
  transition: opacity 300ms;
  background-color: var(--resize-handle-color);
}

.react-resizable-handle-s {
  bottom: 0;
  width: 100%;
  height: 4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: row-resize;
  z-index: 100;
}

.react-resizable-handle-e {
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  cursor: col-resize;
}

.react-resizable-handle:hover {
  opacity: 1;
}

/* Override monaco-editor styles */

.monaco-editor,
.monaco-editor .margin,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background-color: var(--main-editor-background-color) !important;
}

.monaco-editor-background .view-overlays div.current-line {
  border: none;
}

.monaco-editor {
  padding: 5px 0;
}

.editor-widget,
.parameter-hints-widget {
  border: none !important;
}

/* Override md-editor styles */

div.w-md-editor,
div.w-md-editor-toolbar,
div.wmde-markdown {
  background-color: var(--main-editor-background-color);
}

div.wmde-markdown {
  padding: 1rem 1.25rem;
  border-radius: 5px;
}

div.w-md-editor-preview {
  border-radius: 0;
}

div.w-md-editor-text textarea,
div.w-md-editor-text {
  padding: 1rem;
}

div.w-md-editor-bar svg {
  display: none;
}

div.w-md-editor-bar {
  bottom: 0;
  width: 100%;
  height: 4px;
  cursor: row-resize;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 300ms;
  background-color: var(--resize-handle-color);
}

div.w-md-editor-bar:hover {
  opacity: 1;
}

div.wmde-markdown .anchor {
  display: none;
}
