.add-cell {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: calc(5rem + 15vw);
  margin: 1rem;
  opacity: 0;
  transition: all 700ms ease-in;
}

.add-cell.force-show {
  opacity: 1;
}

.add-cell:hover {
  opacity: 1;
}

.divider {
  position: absolute;
  width: 95%;
  height: 1px;
  top: calc(50% - 0.5px);
  z-index: 100;
  background-color: var(--main-border-color);
}

.add-cell button {
  z-index: 200;
  width: 3.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.125rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 300ms ease-out;
  display: flex;
  justify-content: center;
  position: relative;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: var(--main-font-color--dark);
  background-color: #3dd1e7;
  background-image: linear-gradient(to top right, #3dd1e7, #0f87ff);
  border: 0 solid #e5e7eb;
}

.add-cell button:hover {
  transform: rotate(-2deg) scale(1.05);
}

.add-cell button:focus {
  outline: 0;
}

.add-cell button:after {
  content: "";
  position: absolute;
  border: 1px solid #000;
  bottom: 3px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.add-cell button:active:after {
  bottom: 1px;
  left: 1px;
}

@media screen and (min-width: 75rem) {
  .add-cell {
    gap: 16.25rem;
  }
}
