.add-cell {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  opacity: 0;
  transition: all 300ms;
}

.add-cell:hover {
  opacity: 1;
}

.divider {
  position: absolute;
  width: 100%;
  height: 1px;
  top: calc(50% - 0.5px);
  z-index: 100;
  transition: all 300ms;
  background-color: #58595b;
}

.add-cell button {
  z-index: 200;
  width: 3.75rem;
  font-weight: 600;
  padding: 0.125rem;
  cursor: pointer;
  border-radius: 5px;
  color: #1e1e1e;
  transition: all 100ms;
  border: 1px solid #58595b;
  background-color: #58595b;
}

.add-cell button:hover {
  transform: scale(1.1);
  background-color: #fff;
}
