.cell-controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
  opacity: 0.1;
  transition: opacity 300ms ease-out;
}

.cell-controls:hover {
  opacity: 0.75;
}

.cell-controls button {
  cursor: pointer;
  width: 23px;
  height: 23px;
  border: 1px solid var(--main-border-color);
  background-color: #ffe54c;
}

.cell-controls button:hover {
  transform: scale(1.05);
}

.cell-controls button:active {
  transform: scale(0.95);
}

.cell-controls button:first-child {
  border-bottom-left-radius: 5px;
}
.cell-controls button:last-child {
  border-top-right-radius: 5px;
}
