.loader-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 40px;
  height: 60px;
  border-radius: 55px 55px 10px 10px;
  background: #ff3d00;
  background-image: linear-gradient(
    0deg,
    #f63a99 25%,
    #30dcf6 25%,
    #30dcf6 25%,
    #30dcf6 50%,
    #f2d200 50%,
    #f2d200 50%,
    #f2d200 75%,
    #70ca5c 75%
  );
  background-position: 0px 0px;
  background-size: auto 70px;
  background-repeat: repeat-y;
  animation: colorShift 6s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 15px;
  width: 6px;
  height: 34px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
}

.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 13px;
  height: 25px;
  border-radius: 0 0 12px 12px;
  background: #e09c5f;
  box-shadow: 0 15px 2px rgba(0, 0, 0, 0.25) inset;
}

@keyframes colorShift {
  to {
    background-position: 0 175px;
  }
}

.loading {
  position: absolute;
  font-size: 1rem;
  display: inline-block;
  left: 50%;
  bottom: 25%;
  transform: translateX(-50%);
  color: #000;
}

.loading::after {
  content: "";
  width: 2px;
  height: 2px;
  background: currentColor;
  position: absolute;
  bottom: 5px;
  right: -5px;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    box-shadow: 5px 0 #fff, 10px 0 #fff;
  }
  50% {
    box-shadow: 5px 0 #000, 10px 0 #fff;
  }
  100% {
    box-shadow: 5px 0 #000, 10px 0 #000;
  }
}
